@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
/* definindo a propriedade inicial que todo o projeto vai pegar */
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';    
}

#loadingTask{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #411b92;
    top: 0;
    left: 0;
    display: block;
}

#loadingTaskImg{
    
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   

}
/* fazendo a Barra Lateral esquerda de Background */
.barraLateralRoxo {
    background-color: #68519D;
    height: 100%;
    width: 50px;
    position: fixed;
    border-right: 20px solid #D7CAE5;
    ;
}
/* fazendo a Barra Lateral direita de Background */
.barraLateralAmarelo {
    background-color: #F8B04E;
    float: right;
    position: fixed;
    right: 0;
    top: 40%;
    height: 100%;
    width: 100px;
    transform: rotate(30deg);

}
/* Definindo o Container  */
.container {
    margin: 0 auto;
}

/* Estilizando o titulo da tela Inicial */
.titleManager h5 {
    font-weight: 800;
    font-size: 20px;
    color: #68519D;
}

/* Estilizando o botão de "Adicionar tarefa da home Page" */

.buttonAdd button {
    border: 1px solid #68519D;
    height: 36px;
    width: 225px;
    left: 133px;
    top: 267px;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #68519D;
    background-color: white;
}


.table tr{
    color: #2C2661;
}

span{
    display: block;
    color: rgb(255, 0, 0);
    font-size: 10px;
}

#modalTask {
    position: fixed;
    padding-left: 20px;
    padding-top: 20px;
    width: 540px;
    height: 495px;
    top: 5%;
    left: 30%;
    bottom: 150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: block;
    z-index: 2000;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    

}

.pageTask h5 {
    
    font-size: 20px;
    font-weight: 800;
    color: #68519D;

}

.pageTask label {
    
    font-size: 14px;
    font-weight: 400;
    color: #68519D;
    display: block;
}


/* Definindo a propriedade do input */
.pageTask input {
    width: 500px;
    height: 50px;
    left: 443px;
    top: 262px;
    color: #68519D;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    padding-left: 10px;
}

.pageTask input::placeholder {
    color: #68519D;
    font-size: 10px;
}
/* Ação quando o input for selecionado */
.pageTask input:focus {
    border: 1px solid ghostwhite;
    
}

.pageTask select {
    color: #68519D;
    border: 1px solid #68519D;
    border-radius: 10px;
}

/* .pageTask select::after {
    border: 10px solid #000000;
    border-radius: 10px;
} */

.statusConcluid {
    color: green;
    font-weight: 400;
}

.statusInProgress {
    color: #F8B04E;
    font-weight: 400;
}

.statusStop {
    color: red;
    font-weight: 400;
}

#btnCancelar {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 10px;
    border: none;
    height: 36px;
    width: 225px;
    border-radius: 20px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #68519D;
    background-color: white;
}

#btnSalvar {
    position: absolute;
    bottom: 0;
    right: 35px;
    margin-bottom: 10px;
    height: 36px;
    width: 225px;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #68519D;
    border: 1px solid #68519D;
    background-color: white;
}
.alert-success{
    width: 300px;
    height: 75px;
    margin: 0 auto;
    padding: 25px 5px;
    font-weight: 400;
    border-radius: 5px;
    text-align: center;
}
.alert-danger{
    width: 350px;
    height: 75px;
    margin: 0 auto;
    padding: 25px 5px;
    font-weight: 400;
    border-radius: 5px;
}
/* #btnSalvar :disabled{
    background-color: red;
} */