@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

/* definindo a propriedade inicial que todo o projeto vai pegar */
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

body {
    background: url(../imagem/barraAmarela.png) right bottom no-repeat;
    background-attachment: fixed;
    background-size: auto;
}

#loadingTask {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #411b92;
    top: 0;
    left: 0;
    display: block;
}

#loadingTaskImg {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;


}

/* fazendo a Barra Lateral esquerda de Background */
.barraLateralRoxo {
    background-color: #68519D;
    height: 100%;
    width: 5%;
    position: fixed;
    border-right: 20px solid #D7CAE5;

}


/* Definindo o Container  */
.container {
    margin: 0 auto;
}

/* Estilizando o titulo da tela Inicial */
.titleManager {
    font-weight: 800;
    font-size: 20px;
    color: #68519D;
}

/* Estilizando o botão de "Adicionar tarefa da home Page" */

.buttonAdd button {

    height: 36px;
    width: 225px;
    left: 133px;
    top: 267px;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #68519D;
    background-color: white;
    border: none;
}

.buttonAdd :hover {
    background-color: #68519D;
    color: #FFFFFF;

}

.btnPesquisa button {
    height: 25px;
    width: 100px;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #68519D;
    background-color: white;
    border: 1px solid #68519D;

}

.btnPesquisa :hover {
    background-color: #68519D;
    color: #FFFFFF;

}

.inptPesquisa input {

    width: 140px;
    color: #68519D;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    padding-left: 5px;
    font-size: 15px;
}

.inptPesquisa i {
    color: #68519D;
    font-size: 15px;
}

.inptPesquisa i:hover {
    color: #D7CAE5;
    border: 2px solid #68519D;
    background-color: #68519D;
    border-radius: 10px;
    cursor: pointer;
}

.inptPesquisa input::placeholder {
    color: #D7CAE5;
    font-size: 15px;
}

.table i {
    font-size: 10px;
}

table tr {
    font-size: 0.9rem;
    color: #2C2661;
}


#fullRecord {
    font-weight: 600;
    font-size: 0.9rem;
    color: #2C2661;
}

.msgError {
    display: block;
    color: rgb(255, 0, 0);
    font-size: 10px;
}

#modalTask {
    position: fixed;
    padding-left: 20px;
    padding-top: 20px;
    width: 30%;
    height: 495px;
    top: 5%;
    left: 30%;
    bottom: 150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: none;
    z-index: 2000;
}

.addTaskModal {
    width: 3%;
}

.pageTask {
    font-size: 25px;
    font-weight: 800;
    color: #68519D;

}

.pageTask label {
    font-size: 14px;
    font-weight: 400;
    color: #68519D;
    display: block;
    margin: 0;
}


/* Definindo a propriedade do input */
.pageTask input {
    width: 50%;
    height: 50px;
    left: 443px;
    top: 262px;
    color: #68519D;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    padding-left: 10px;
    font-size: 15px;
}

.pageTask input::placeholder {
    color: #68519D;
    font-size: 15px;
}

input[type=date] {

    font-size: 15px;
}

.pageTask select {
    color: #68519D;
    border: 1px solid #68519D;
    border-radius: 10px;
    font-size: 15px;
}


.statusConcluid {
    color: green;
    font-weight: 700;
}

.statusInProgress {
    color: #F8B04E;
    font-weight: 700;
}

.statusStop {
    color: red;
    font-weight: 700;
}

#cancelEdit {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 10px;
    border: none;
    height: 36px;
    width: 100px;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #68519D;
    background-color: white;
}

#cancelEdit:hover {
    background-color: #68519D;
    color: #FFFFFF;
}

#btnSalvar {
    position: absolute;
    bottom: 0;
    right: 35px;
    margin-bottom: 10px;
    height: 36px;
    width: 100px;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #68519D;
    border: 1px solid #68519D;
    background-color: white;
}

#btnSalvar:hover {
    background-color: #68519D;
    color: #FFFFFF;

}

@media screen and (max-width:800px) {

    body {
        background: none;
    }

    .inptPesquisa input {

        width: 100px;
        color: #68519D;
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: rgb(238, 238, 238);
        border-radius: 10px;
        padding-left: 5px;
        font-size: 15px;
    }

    .inptPesquisa input::placeholder {
        color: #D7CAE5;
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {



    .table tr {
        font-size: 10px;
        color: #2C2661;
    }

    table th {
        padding: 0;
        border: 0;
    }


    .table i {
        display: none;
    }

    .barraLateralRoxo {
        background-color: #68519D;
        height: 100%;
        width: 5%;
        position: fixed;
    }

    #loadingTask {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99999;
        background-color: #411b92;
        top: 0;
        left: 0;
        display: block;
    }

    .titleModal {
        text-align: center;
    }

    #modalTask {
        position: fixed;
        padding-left: 20px;
        padding-top: 20px;
        width: 50%;
        height: 495px;
        top: 5%;
        left: 30%;
        bottom: 150px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        display: none;
        z-index: 2000;
    }

    .pageTask label {
        font-size: 10px;
        font-weight: 400;
        color: #68519D;
        display: block;
    }

    .pageTask input {
        width: 90%;
        height: 40px;
        left: 443px;
        top: 262px;
        color: #68519D;
        margin-bottom: 5px;
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: rgb(238, 238, 238);
        border-radius: 10px;
        padding-left: 10px;
        font-size: 15px;
    }

    .pageTask input::placeholder {
        color: #68519D;
        font-size: 10px;
    }

    input[type=date] {

        font-size: 10px;
    }
    #btnSalvar {
        position: absolute;
        bottom: 0;
        right: 4px;
        margin-bottom: 10px;
        height: 36px;
        width: 70px;
        border-radius: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #68519D;
        border: 1px solid #68519D;
        background-color: white;
    }
    .inptPesquisa input {

        width: 100px;
    height: 30px;
    color: #68519D;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
   
    font-size: 10px;
    }
    
    .inptPesquisa i {
        margin-left: 30px;
        margin-top: 8px;
        color: #68519D;
        font-size: 15px;
    }
    
    .inptPesquisa i:hover {
        cursor: pointer;
    }
    
    .inptPesquisa input::placeholder {
        color: #D7CAE5;
        font-size: 10px;
    }

}